<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <provider
            android:name=".OSFileProvider"
            android:authorities="${applicationId}.messagingprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/os_file_path" />
        </provider>

    </application>

</manifest>
